* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
}
.container header .navbar .container-fluid .collapse  .btn {
    background-color: #621DED;
    padding: 6px 30px;
    border-radius: 10px;
    color: white;
    margin-left: 30px;
}

.container {
    background-color: #1E1E1E;
}
.container .section-1  .col-md-12 .btn {
    background-color: #621DED;
    padding: 6px 30px;
    border-radius: 6px;
    color: white;
}

.container .section-4  .col-md-12 .row .col-md-5 .col-md-11 {
    background-color: rgb(21, 21, 21);
    padding: 30px;
}

.container .section-4 .col-md-12 .row .ff {
    margin-bottom: 133px;
}

.container .section-5  .col-md-12 .row .col-md-3 {
    background-color: rgb(21, 21, 21);
    padding: 30px;
    margin-left: 30px;
}

.container .section-5 .col-md-12 .row .col-md-3 .btn {
    color: white;
    background-color: rgb(40, 40, 40);
    padding: 10px 10px;
    width: 270px;
}

.container .section-5 .col-md-12 .row .col-md-3 .color {
    color: #621DED;
}

.container .section-5 .col-md-12 .row .col-md-3 .btn1 {
    background-color: #621DED;
    padding: 10px 10px;
    width: 270px;
    border-radius: 6px;
}

.container footer .col-md-2 {
    margin-left: 50px;
}

@media all and (max-width: 1000px) {
    .container .section-5 .col-md-12 .row .col-md-3 {
        margin: auto;
        margin-top: 30px;
        width: 330px;
    }

    .container footer .col-md-12 .row .col-md-2:nth-child(2) {
        padding-left: 40px;
    }
}